
@{
    ViewBag.Title = "SuperDeal";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="col-lg-9">
    <h2 class="text-center">Super <i class="glyphicon glyphicon-gift"></i> DEAL</h2>

    <div class="alert alert-warning"> <Strong>Sorry!</Strong> We Dont Have Any Deals Yet!</div>
</div>