@model FYProject1Classes.FinalOrderMgmt.FinalOrder

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>email</title>
</head>
<body>
    <div>
    </div>
</body>
</html>
