
@{
    ViewBag.Title = "💊 Forgot Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Forgot Password</h2>

<div class="container">
    <div class="col-lg-4">
        <div class="row">
            <p>Enter Your Registered Email address. <br />A recovery password mail will be sent to you.!</p>
            @using (Html.BeginForm("ForgotPassword", "User", FormMethod.Post))
            {
                <br />
                <div class="form-group">
                    <label>Enter Your Email Id:</label>
                    <input class="form-control" placeholder="Email ID" />
                </div>
                <button class="btn btn-default pull-right" type="submit"><i class="glyphicon glyphicon-send"></i> Send</button>
            }
        </div>
    </div>
</div>