/* ------ Admin Overview Tabs/boxes ------ */

.overview {
    display: flex;
    justify-content: space-between;
    /*width: 80vw;*/
    margin: auto;
}

.box-wrap {
    height: auto;
    width: 150px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin: 5px;
    box-shadow: 0px 0px 5px 1px maroon;
    user-select: none;
    -moz-user-select: none;
    cursor: default;
}

.detail-display {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 5px;
}

    .detail-display > .icon img {
        width: 35px;
    }

    .detail-display > p {
        font-size: 2rem;
        margin: 0;
    }

.box-wrap > p {
    text-align: center;
    margin: 0 0 10px 0;
    /* font-weight: bold; */
}

@media (max-width: 970px) {
    .overview {
        flex-flow: column;
        align-items: center;
    }
}
