/************ Common Styles for Data Grid*********/

.dgsec{
    margin:10px 0px;
}

.dgcaptionrow{
    color:#ffffff;
    padding:10px;
    background-color:#ff0000;
    font:110%;
}

.dgheaderrow{
    margin: 1px 0px 0px 0px;
    color:#ffffff;
    background-color:#ff0000;
    font:110%;
}

.dgdatarow{
    margin: 1px 0px 0px 0px;
    background-color:#fbf3f3;
    
}

.dgdatarowalt{
    margin: 1px 0px 0px 0px;
    background-color:#d9fadd;
}

.dgdatarowsld{
    
}

.dgcreatelnk{
    color:#ffffff;
}

.dgeditlnk{
}

.dgdeletelnk{
}

.dgdetailslnk{
}




/********Styles for Products Grid*********/

.pdnamecol{
    padding:10px 5px;
    width: 300px;
    float:left;
}

.pdpricecol{
    padding:10px 5px;
    width: 150px;
    float:left;
}

.pdactionscol{
    padding:10px 5px;
    float:left;
}


